body {
  background-color: #fff;
}
.container:after, .header:after, .skill:after {
  content: " ";
  display: table;
  clear: both;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.header {
  position: relative;
  width: 100%;
  height: 340px;
  background-image: url(../img/promo-bg.jpg);
  background-attachment: fixed;
}
.header .logo {
  width: 76px;
  height: 76px;
  border: 8px solid rgba(45,200,78,.6);
  border-radius: 68px;
  margin: 0 auto 30px;
  overflow: hidden;
  text-align: center;
  background-color: #39c;
}
.header .logo img {
  max-width: 68px;
  height: auto;
}
.header .mark {
  padding-top: 38px;
}
.synopsis {
  position: absolute;
  top: 20%;
  left: 50%;
  max-width: 768px;
  margin-left: -384px;
  text-align: center;
  color: #fff;
}
.skill {
  max-width: 1220px;
  margin: 0 auto;
  padding: 20px 10px;
  border-bottom: 1px dashed #ccc;
}
.skill ul a {
  display: inline-block;
  padding: 6px 10px;
  margin: 5px 0;
  border: 1px solid #2f9b55;
  border-radius: 16px;
  line-height: 14px;
  color: inherit;
}
.skill ul a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #2f9b55;
}
.col {
  padding: 15px 0;
}
.col .skill:last-child {
  border-bottom: 0;
}
.type {
  float: left;
  text-align: center;
}
.htm {
  width: 28%;
}
.js {
  width: 44%;
}
.css {
  width: 28%;
}
.level-1 {
  text-align: center;
}
.level-1 li {
  display: inline;
}
.level-1 li:nth-child(even) {
  margin-left: 100px;
  margin-right: 100px;
}
.level-2 {
  text-align: center;
}
.level-2 li {
  display: inline;
}
.portal {
  padding: 38px;
  background-color: #32092b;
  text-align: center;
}
.portal .btn {
  display: inline-block;
  padding: 10px 26px;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #eee;
  /*background-color: #39c;*/
}
.footer {
  width: 100%;
  margin-top: 38px;
  padding: 12px;
}
.footer .copyright {
  max-width: 768px;
  margin: 0 auto;
  text-align: center;
  color: inherit;
}
